<div class="container-fluid" [ngClass]="{'dark-theme': themeService.theme === 'dark', 'light-theme': themeService.theme === 'light'}">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between flex-footer" >
      <div class="d-flex link-section">
        <div class="spaced-link">Deals</div>&nbsp;
        <div class="spaced-link">Market guide</div>&nbsp;
        <div class="spaced-link">Contact</div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <div style="padding: 10px">© Car Brand Central 2023</div>
      </div>
      <div class="d-flex social-section" style="padding: 10px">
        <div style="padding-right: 10px">Follow Us</div>
        <div class="d-flex icon-section" style="font-size: 30px">
          <i class="fa-brands fa-square-facebook"></i>
          <i class="fa-brands fa-square-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
      </div>
    </div>
  </div>
</div>
