.dark-theme {
  background-color: #171717;
  color: #fff;
}
.light-theme {
  background-color: #D7E9F7;
  color: #333;
  box-shadow: 0 1px 30px -15px #000000;
}
ul li{
  padding-top: 5px;
  font-size: 15px;
}
ul{
  padding: 0;
  margin: 0;
}
.spaced-link{
  padding: 10px;
}
.social-section{
  flex-direction: column;
  justify-content: start;
}
.fa-brands{
  padding-right: 16px;
}
@media (max-width: 767px) {
  .spaced-link{
    padding: 6px;
  }
  .flex-footer{
    flex-direction: column;
  }
  .link-section{
    flex-direction: row;
  }
  .social-section{
    flex-direction: row;
    align-items: center;
  }
  .fa-brands{
    padding-left: 8px;
    padding-right: 8px;
  }
}
.container{
  padding: 25px 0px;
}
@media (max-width: 360px) {
  .container-fluid{
font-size: 15px;
  }
}
@media  (min-width: 768px){
  .icon-section{
    margin-top: 10px;
  }
}
