.dark-theme a{
  color: white;
}
button.no-outline:focus {
  border: none !important;
}
.btn, input{
  box-shadow: none;
  border: none;
  outline: none;
}
input{
  padding-left: 15px;
}
.dark-theme input{
  background-color: #282828;
  color: #fff;
}
.dark-theme {
  background-color: #171717;
  color: #fff;
}
.dark-theme .logo-black {
  display: none;
}
.dark-theme .fa-magnifying-glass{
  color: white;
}
.light-theme {
  background-color: #D7E9F7;
  color: rgba(0, 0, 0, 0.18);
  box-shadow: 0 1px 30px -15px #000000;
}
.light-theme .logo-white {
  display: none;
}
.light-theme input{
  background-color: #ececec;
  color: #000000;
}
.dark-theme .fa-moon {
  color: white;
}
@media (max-width: 415px) {
  .logo{
    width: 70px;
  }
}
@media (max-width: 350px) {
  .logo{
    width: 60px;
  }
  .btn.no-outline{
    padding: 10px;
  }
}
@media (max-width: 335px) {
  .logo{
    width: 55px;
  }
  .btn.no-outline{
    padding: 7px;
  }
}

@media (max-width: 415px) {
  .input-group input{
    width: 170px;
  }
}
.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
