.dark-theme a{
  color: white;
}
button.no-outline:focus {
  border: none !important;
}
.btn, input{
  box-shadow: none;
  border: none;
  outline: none;
}
input{
  padding-left: 15px;
}
.dark-theme input{
  background-color: #282828;
  color: #fff;
}

.dark-theme {
  background-color: #171717;
  color: #fff;
}
.dark-theme .logo-black {
  display: none;
}
.dark-theme .fa-magnifying-glass{
  color: white;
}
.light-theme {
  background-color: #fff;
  color: #333;
}
.light-theme .logo-white {
  display: none;
}
.light-theme input{
  background-color: #ececec;
  color: #000000;
}
.dark-theme .fa-moon {
  color: white;
}
@media (max-width: 415px) {
  .logo{
    width: 70px;
  }

}
@media (max-width: 415px) {
  .input-group input{
    width: 170px;
  }
}
