<div [ngClass]="{'dark-theme': theme === 'dark', 'light-theme': theme === 'light'}" class="header">
  <nav class="navbar">
    <div class="container d-flex">
      <img src="assets/cbc_logo.png" class="img-fluid  logo logo-white" routerLink="" width="100px">
      <img src="assets/cbc_logo_black.png" class="img-fluid logo logo-black" routerLink="" width="100px">
      <div class="d-flex">
        <form class="input-group w-auto" style="color: white">
          <input
            type="search"
            class=" rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
          />
        </form>
        <button class="btn no-outline">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button class="btn no-outline" (click)="switchTheme()">
          <i class="fas fa-moon no-outline"
             [ngClass]="{'fa-moon': theme === 'dark', 'fa-circle': theme === 'light'}"
          ></i>
        </button>
      </div>
    </div>
  </nav>
</div>


