.image-container {
  overflow: hidden;
}
.card-img-top{
  object-fit: cover;
  height: 200px;
}
.dark-theme {
  background-color: #212121;
  color: #fff;
}
.light-theme {
  background-color: #fff;
  color: #333;
}

.carMakeBtn.clicked {
  background: linear-gradient(50deg, #3a3a3a, #606060, #3a3a3a);
  color: white;
}
.flex-btns {
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
