.container{
  padding-bottom: 30px;
}
.image-container {
  overflow: hidden;
}
.card-img-top{
  object-fit: cover;
  height: 200px;
}
.dark-theme {
  background-color: #212121;
  color: #fff;
}
.light-theme {
  background-color: #fff;
  color: #333;
}
button.carMakeBtn{
  background-color: #414141;
  color: white;
}
.carMakeBtn.clicked {
  border: 2px solid #888888;
  color: white;
}
.flex-btns {
  flex-wrap: wrap;
  padding-bottom: 30px;
  padding-top: 30px;
}
.car-logo{
  width: 40px;
}
.card-col{
  padding: 10px;
}
.card{
  background-color: #181818;
  color: white;
}
ul li a{
  background-color: #414141;
  text-decoration: none;
  color: white;
  border: none;
}
.view-more-btn{
  background-color: #3a3a3a;
  border: 0;
  color: white;
}
