
<div class="container" style="color: white; padding-top: 150px; padding-bottom: 150px;">
    <div class="d-flex justify-content-center flex-content" >
      <div class="d-flex justify-content-center align-items-center" style="background-color: #101010;" >
        <img loading="lazy" style="object-fit: cover; width: 100%"  src="{{carData.imgUrl}}"/>
      </div>
      <div class="d-flex flex-column p-3 justify-content-center flex-car-info" style="background-color: #101010;">
        <div style="padding: 10px; font-size: 30px">{{carData.make}} {{carData.model}}</div>
        <div style="padding: 10px"><i class="fa-solid fa-calendar-days"></i> Year: {{carData.year}}</div>
        <div style="padding: 10px"><i class="fas fa-car"></i> Body: {{carData.bodyType}}</div>
        <div style="padding: 10px"><i class="fas fa-paint-roller"></i> Exterior Color: {{carData.exteriorColor}}</div>
        <div style="padding: 10px"><i class="fa-solid fa-road"></i> Mileage: {{carData.mileage}} km</div>
        <div style="padding: 10px"><i class="fas fa-text-height"></i> Height: {{carData.height}} cm</div>
        <div style="padding: 10px"><i class="fa-solid fa-weight-hanging"></i> Weight: {{carData.weight}} kg</div>
        <div style="padding: 10px"><i class="fas fa-car"></i> Engine: {{carData.engine}}</div>
        <div style="padding: 10px"><i class="fa-solid fa-gas-pump"></i> Fuel Economy: {{carData.fuelEconomy}} km/L</div>
      </div>
    </div>
  </div>
