
<div class="container" style="color: white; padding-top: 70px; padding-bottom: 70px;">
  <app-breadcrumbs></app-breadcrumbs>
  <div style="background-color: #171717; border-radius: 10px;">
    <div class="" style=" padding: 25px  25px 0px; font-size: 30px; text-align: center">{{carData.make}} {{carData.model}} Detailed Specifications</div>
    <div class="d-flex justify-content-evenly flex-content" style="background-color: #171717; padding: 30px 0px; border-radius: 10px">

      <div class="d-flex justify-content-center align-items-center" style="background-color: #171717; padding: 0px 25px" >
        <img loading="lazy" style="object-fit: cover; width: 100%"  src="{{carData.imgUrl}}"/>
      </div>
      <div class="d-flex flex-column p-3 justify-content-center flex-car-info" style="background-color: #171717;">
        <div style="padding: 10px"><i class="fa-solid fa-calendar-days"></i> Year: {{carData.year}}</div>
        <div style="padding: 10px"><i class="fas fa-car"></i> Body: {{carData.bodyType}}</div>
        <div style="padding: 10px"><i class="fas fa-paint-roller"></i> Exterior Color: {{carData.exteriorColor}}</div>
        <div style="padding: 10px"><i class="fa-solid fa-road"></i> Mileage: {{carData.mileage}} km</div>
        <div style="padding: 10px"><i class="fas fa-text-height"></i> Height: {{carData.height}} cm</div>
        <div style="padding: 10px"><i class="fa-solid fa-weight-hanging"></i> Weight: {{carData.weight}} kg</div>
        <div style="padding: 10px"><i class="fas fa-car"></i> Engine: {{carData.engine}}</div>
        <div style="padding: 10px"><i class="fa-solid fa-gas-pump"></i> Fuel Economy: {{carData.fuelEconomy}} km/L</div>
      </div>
    </div>
    <div class="d-flex flex-column" style="padding: 0px 25px 25px; text-align: justify">
      <div> Introducing a brand new vehicle that promises to take your driving experience to the next level at just {{carData.price.toLocaleString()}}$. With cutting-edge
        upgrades and advanced features, this sleek and stylish machine is designed to offer unbeatable speed and reliability.
        Whether you're cruising down the highway or navigating through city streets, this high-performance vehicle delivers a
        smooth ride with unparalleled precision and control. So why settle for anything less than the best? Upgrade to this
        state-of-the-art vehicle and experience the thrill of the open road like never before.
      </div><br>
      <div class="d-flex">
        <a  href="https://www.google.com/maps/search/{{carData.make}}+Dealership/" target="_blank" class="btn" style="background-color: #3a3a3a; color: white"><i class="fas fa-map-marker-alt"></i> Find Nearest {{carData.make}} Dealership</a>
      </div>
    </div>
  </div>
  </div>
