@media(min-width: 1200px) {
  .flex-car-info{
    width: 400px;
  }
}
@media(max-width: 1200px) {
  .container{
    flex-direction: column;
  }

  .flex-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .flex-car-info{
    width: 700px;
  }
}
@media (max-width: 991px) {
  .flex-car-info{
    width: 100%
  }
}
